 <div class="page-middle-home">
     <div id="profile-user-feed">
         <div id="contests-tab-container" class="feed-tab-container feed-tab-top-border" style='display:none'>
             <div id="contests-content-container">
				<% @contests.each do |contest| %>
					<div class="home-feed clearfix feed-non-bottom-line" feed-cid="R58-dyR0hiNQ9agLKklMdw" feed-type="201">
						<a class="feed-badge badge-overoneday" href="">
							<div class="prize">$ <%= contest.credits %></div>
							<div class="time-left-cap">TIME LEFT</div>
							<div class="time-left ">4 DAYS</div>
						</a>
						<div class="feed-body clearfix">
							<%= link_to contest.title, contest, :class => "contest-title" %>
							<a href="#" class="contest-follow blue" cid="<%= contest.id %>" followed="0">Follow</a>
							<span class="contest-entries gray">·</span>
							<span class="contest-entries gray"><%= contest.entries_count %> entries</span>
							<div class="contest-preview">
								<div class="contest-description ellipsis multiline truncate" url="/contests/<%= contest.id %>"><%= contest.content.html_safe %></div>
							</div>
							<div class="actor-area">
								<span class="actor-block">
									<a href="/users/<%= contest.user.id %>" class="feed-actor-img">
										<img class="submission-user" src="/assets/feed_user.gif">
									</a>
									<a href="/users/<%= contest.user.id %>" class="verified feed-actor-vrf"></a>
									<a href="/users/<%= contest.user.id %>" class="feed-actor-name"><%= contest.user.username %></a>
								</span>
								<span class="action-words"> created a new contest</span>
								<span class="timestamp"><%= time_ago_in_words contest.created_at %> ago</span>
							</div>
						</div>
					</div>
				<% end %>
             </div>
         </div>
     </div>
     <div class='feed-bottom-shadow-sm'></div>
 </div>
 <div class="page-right-home">
     <div id="order-action-needed"></div>
     <div id="contest-top-prizes"></div>
     <div id="contest-trending"></div>
     <div id="latest-winners-box"></div>
     <div id="top-users-box"></div>
 </div>
	<script type="text/javascript" charset="utf-8">
    var surface = "home";
	var viewer_logged_in = true;
	var VER_ID = "20111025025859";
	var VER_DOMAIN = "static.prizes.org";
	var VEP_PAYOUT_FEE_RATE = 0.055*100 + 0.1*100;
	var FEED_ITEM_TYPE = {"FOLLOW_TAG": 213, "ENTRY_SUBMITTED": 202, "FOLLOW_CONTEST": 211, "FOLLOW_USER": 210, "TAGGED_AS": 212, "VOTE": 203, "CONTEST_CREATED": 201, "CONTEST_WON": 215, "PICK_WINNER": 204, "CONTEST_WON_JFF": 216, "HONORABLE_MENTION": 214};
</script>