<div class="page-left">

	<div class="contest-detail contest ">
		<div class="contest-detail-header radius-border-top clearfix">
		  <% if @contest.is_community %>
		  <div class="detail-prize-jff-zone morethan24 radius-border-bottom"></div>
		  	<% else %>
			<div class="detail-prize-zone morethan24 radius-border-bottom">
			  
				<div class='detail-prize-title'> PRIZE</div>
				<div class='detail-prize-num'> $<%= @contest.credits %></div>
			
			</div>
				<% end %>
			<div class='detail-info-zone'>
				<span class="detail-title" id="detail-title-text"><%= @contest.title %></span>
				<div class='contest-extend-info'>
				  <% if $redis.sismember("contests:#{ @contest.id }.follower_users", current_user.id)%>
					<a id="follow-contest-link" class="unfollow-contest" href="#">Unfollow Contest</a>
					<% else %>
					<a id='follow-contest-link' class='follow-contest' href='#'>Follow Contest</a>
					<% end %>
					<div class='left-time-area'>
						<span class='left-time-title'> &sdot; Time Left :</span>
						<span class='left-time-details '>
							<span><%= time_ago_in_words @contest.created_at %></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="detail-body">
			<div class='contest-detail-content word-wrap clearfix'>
				<div class='detail-bottom-border contest-detail-padding' ></div>
				<div class='contest-detail-padding' ></div>
				<div class='contest-detail-text'><%= @contest.content.html_safe %></div>
			</div>
			<div class='submission-rules'>
				<div>竞赛规则</div>
				<ul>
					<% @contest.rules_list[1..-2].split(",").each do |item| %>
					<li><%= Settings.send("r"+item) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% if @contest.user_id != current_user.id %>
		<div class="contest-detail-buttons">
			<button class="blue margin-center" id='enter-submission-button'>
				<b>Enter</b> Contest
			</button>
		</div>
		<% end %>
		<div id="contest-comment">
    				<div class="show-add-comment"><span class="ui-icons ui-icons-position comments-icon"></span><a> Comment </a></div>
    			<div class="comments" style="display: none;">
    				<div class="comments-category" style="display: none;">
    				</div>
    				<div class="comment-form">
    					<div class="reply" style="display: none;">Reply to: <span class="reply-name">user</span><a class="remove-replier">&nbsp;&nbsp;delete</a></div>
    					<div class="comment-textarea-holder">
    						<textarea placeholder="Write a comment ..." class="placeholder"></textarea>
    					</div>
    					<div class="comment-buttons" style="display: none;">
    						<button class="btn-comment-confirm blue">Comment</button>
    						<button class="btn-comment-cancel lightgray">Cancel</button>
    					</div>
    				</div>
    			</div>
    		</div>
	</div>
	<div class='contest-bottom-shadow'></div>


	<div class='win-cand display-none' >
		<div class='win-cand-title'>
			<button class='confirm title-button float-right'>Confirm</button><button class='reset title-button float-right'>Skip this step</button><span>Pick two Honorable Mentions!</span>
		</div>
		<div class='win-winner-bar'>
			<div class="badge honorable float-left">HONORABLE MENTION</div>
			<div id='hm-cand-1' class='win-user-block empty'>
				<span class='default'>HONORABLE</span>
				<img/><span class='cand-name ellipsis singleline'></span><a class="close" href="#"></a>
			</div>
			<div id='hm-cand-2' class='win-user-block empty'>
				<span class='default'>HONORABLE</span>
				<img/><span class='cand-name ellipsis singleline'></span><a class="close" href="#"></a>
			</div>
		</div>
		<div class='hm-glow-effect'></div>
	</div>


	<div class="horizontal-divider"></div>
	<div id="contest-pagination-top" style="display: none;"></div>
	<div class="left-preloader-bar" style="display: none;"><span class="preloader-icon">Loading...</span></div>
	<div id="entries-container">
   <% @contest.entries.each do |entry|%>
	  <div class="submission  " id="entry_<%= entry.id %>" token="<%= entry.id %>" tweet-url="http://prizes.org/p/0WV4W0W0W0e1">
    		<div class="entry-votes  " style="position: fixed; top: 50px; ">
    		<div class="entry-votes-count green" id="entry-votes-count-<%= entry.id %>"><%= entry.votes_count%></div>
    				<button class="vote vote-up" token="<%= entry.id %>"><div class="vote-nike"></div>Vote</button>
    			<span class="fav-symbol">Favorite<span class="ui-icons ui-icons-position" id="question-mark-icon"></span></span>
    			<span class="eli-symbol">Eliminated<span class="ui-icons ui-icons-position" id="question-mark-icon"></span></span>
    		</div>
    		<div class="entry-detail">
    			<div class="entry-user">
    				<span class="time-ago"><%= time_ago_in_words entry.created_at %></span>
    				<a href="/users/<%= entry.user_id %>" class="entry-user-simage">
    					<img src="<%= entry.user.picture.url %>">
    				</a>
    				<a href="/users/<%= entry.user_id %>" class="entry-user-name"><%= entry.user.username %></a>
    				<span class=""></span>
    					⋅&nbsp;<span class="user-desc"><%= entry.user.profile.description%></span>
    					⋅&nbsp;<a href="http://prizes.org/leaderboard/alltime?sid=PKqAEnTrCWyeBC1XjbbafA" class="talent-score-badge">
    						<span class="top-user-badge">&nbsp;</span>
    						<span class="user-score "><%= entry.user.reputation %></span>
    					</a>

    			</div>
    			<div class="entry-content" id="entry-submitted-row-<%= entry.id %>">
    					<div class="preview-text">
    						<div id="entry-text-<%= entry.id %>" class="unselectable">
    							<%= entry.content.html_safe %>
    						</div>
    						<div class="video-preview">

    						</div>
    					</div>
    			</div>
    			<div class="entry-function">
    				<a class="entry-share">Share</a> ⋅
    				<a class="show-add-comment">
    					Comment
    				</a>

    				⋅<a class="entry-flag" token="<%= entry.id %>">Flag</a>
    			</div>
    			<div class="entry-flag-dlg" style="display: none;">
    				<div class="entry-flag-txt">Need improvement</div>
    				<div class="flag-comment-container">
    				</div>
    				<div class="entry-flag-buttons">
    					<button class="btn-entry-flag-confirm blue">Flag Entry</button>
    					<button class="btn-entry-flag-cancel lightgray">Cancel</button>
    				</div>
    			</div>
    			<div class="comments" style="display: none;">
    				<div class="comments-category" style="display: none;">
    					<span class="ui-icons ui-icons-position comments-icon"></span>
    					<a class="view-all-comments">View all <span class="comments-cnt">0</span> comments</a>
    					<a class="collapse-comments" style="display: none;">Hide</a>
    					⋅
    					<a class="view-creator-comments">View creator's comments only</a>
    				</div>
    				<div class="comment-form">
    					<div class="reply" style="display: none;">Reply to: <span class="reply-name">user</span><a class="remove-replier">&nbsp;&nbsp;delete</a></div>
    					<div class="comment-textarea-holder">
    						<textarea placeholder="Write a comment ..." class="placeholder"></textarea>
    					</div>
    					<div class="comment-buttons" style="display: none;">
    						<button class="btn-comment-confirm blue">Comment</button>
    						<button class="btn-comment-cancel lightgray">Cancel</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
	 <% end %>
	</div>

	<div id="contest-pagination" style="display: none;"></div>
	<div class="contest-bottom-shadow" id="contest-entries-bottom" style="display: none;"></div>
	<div class="contest-rules">
		<p>You may only submit 1 entry per contest. Everyday, you are limited to voting for 1 entry in each contest. If the contest creator does not pick a winner when the contest ends, the winner will be determined by popular vote.</p>
	</div>
</div>
<div class="page-right">
	<span class="page-right-header">
		<span class="ui-icons ui-icons-position" id="contest-holder-icon"></span>
		<span class="ui-icons-title">竞赛创建者</span>
	</span>
	<div class="side-feed">
		<div class="side-feed-row">
			<a href="/users/<%= @contest.user.id %>" class="profile-feed-user-image">
				<%= image_tag @contest.user.picture.url %>
			</a>
			<div class="profile-box">
				<a href="http://prizes.org/Zillomom" class="entry-user-name"><%= @contest.user.username %></a>
				<span class=""></span>
        <% if current_user.id != @contest.user.id %>
				<br/><a href='#' class="follow" followed="0" uid="<%= @contest.user.id %>">Follow</a>
				&sdot; <a href='#' class="send-msg" uid="<%= @contest.user.id %>">Send message</a>
				<% end %>
			</div>
		</div>
	</div>

	<span class="page-right-header">
		<span class="ui-icons ui-icons-position" id="contest-status-icon"></span>
		<span class="ui-icons-title">Contest Status</span>
	</span>
	<div class="side-feed">
		<div class="side-feed-row">
			<span><%= $redis.scard("contests:#{@contest.id}.follower_users") %> people are following this contest</span>
		</div>
		<div class="contest-visitors">
		</div>
	</div>
	<div class="clear"></div>

	<div id="contest-tag-related"></div>
	<div id="contest-top-prizes"></div>
	<div id="contest-trending"></div>


</div>
</div>
<script type="text/javascript" charset="utf-8">
var surface = "contest.detail";
var viewer_logged_in = true;
var IS_SUSPENDED = 0;
var SUSPENDED_MSG = 'Your account is suspended. Please contact help@prizes.org for more info.';
var ce6 = ce6 || {};
ce6.show.contestToken = "<%= @contest.id %>"
</script>
<div id="dlg-new-entry" style="display:none;overflow:hidden">
	<form action="" id="add-entry-form">
		<textarea name="content" class='new-entry-textarea' id='entry-content'></textarea>
		<input type="hidden" name="contestToken" value="<%= @contest.id %>" id="contest-token">
	</form>
	<span class='dnd-tip'>Tip: To upload images, simply drag &amp; drop them onto the text area.</span>
	<span id="dlg-new-entry-error" class="dlg-new-entry-error"></span>
</div>
<div id="dlg-new-entry-save" style="display:none;overflow:hidden" class="dlg-plain-content">
	Are you sure you want to discard the draft?
</div>

<div id="dlg-pick-winner" style="display:none;">
	<div id="pickwinner">
		<div class="fb_info">
			<img class='picked-winner-img'/>
		</div>
		<div id="pickwinner-confirm">Are you sure you want to pick&nbsp;<a><span class='picked-winner-name'></span></a>&nbsp;as the winner?</div>
	</div>
</div>
<div id="dlg-more-voter" class="dlg-plain-content" style="display:none;">
	<a class='close' href='#'></a>
	<div id="all-voters">
	</div>
</div>
<div id="dlg-report" class="dlg-plain-content" style="display:none;">
	<div id='report-options'>
		<div class='option-items'>
			I want to report:
			&nbsp; &nbsp;
			<input id='report-contest' type="radio" name='report-type' value='contest' checked='checked'/> <label for="report-contest">this contest </label>
			&nbsp; &nbsp;
			<input id='report-entry' type="radio" name='report-type' value='entry' /> <label for="report-entry">an entry</label>
		</div>
		<ul id='report-entry-list'>
		</ul>
	</div>
	<div class="subject">Comment</div>
	<textarea id="report-msg" class='report-comment radius-border' placeholder="Tell us in more detail..."></textarea>
</div>
<!-- share all in one dialog-->
<div id="dlg-all-share" style="display:none;">
	<div class="share-top-tips"> </div>
	<div class="dlg-share-content">
		<div class="share-avatar">
			<img src="http://deco-00.prizes.org/r/3/0001/dl/1WYFX6IX5z_7mdwPVIR5PLYy2Duwt1GF/ce6_profile_img" />
		</div>
		<form>
			<div>
				<textarea id="share-content" rows="4" placeholder='Add a comment so friends will enter the contest!'></textarea>
			</div>
		</form>
	</div>
	<ul class="share-channels">
		<li class="send-fb">
			<input id='share-channel-fb' type="checkbox" conn='fbConnected' func='bindFB'/>
			<label for='share-channel-fb'>Facebook</label>
		</li>
		<li class="send-tw">
			<input id='share-channel-tw' type="checkbox" conn="twConnected" func='bindTW'/>
			<label for='share-channel-tw'>Twitter</label>
		</li>
	</ul>
	<div class="share-bottom-tips"> </div>
	<div class="dlg-share-buttonset">
		<div class="ui-dialog-buttonset dlg-share-buttoncontainer">
			<button id="dlg-all-share-cancel" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only lightgray" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
			<button id="dlg-all-share-share" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Share</span></button>
		</div>
	</div>
</div>

<div id="dlg-email-share" style="display:none;">
	<div class="share-top-tips"> </div>
	<div id="dlg-email-providers"> 
		<div id='gmail-import' class='email-auth-icon'> Gmail </div>
		<div id='yahoo-import' class='email-auth-icon'> Yahoo </div>
		<div id='aol-import' class='email-auth-icon'> AOL Mail </div>
	</div>

	<div id="dlg-aol-info"> 
		<div class='text-desc'> Username : </div>
		<div class='input-area'>
			<input id='aolName' type='text'> </input>
		</div>

		<div class='text-desc'> Password : </div>
		<div class='input-area'>
			<input id='aolPassword' type='password'></input>
		</div>
		<div class="input-tips">
			Don't worry! We won't store your password!  
			<span id='aol-loading' class="preloader-icon"></span>
		</div>
	</div>

	<div id="dlg-select-emails"> 
		<div class='option-line first-column half-column float-left'> 
			<input id='select-all-emails' type='checkbox'/> <label id='select-all-label' for="select-all-emails">Select All</label>
		</div>
		<div class='option-line half-column float-right'> 
			<a href='#' id='back-to-email-providers'>
				Import contacts from another email
			</a>
		</div>
		<div id="emails-list-wrap"> 
			<table id='emails-list'> </table>
		</div>
	</div>

	<div class="dlg-share-buttonset">
		<div class="ui-dialog-buttonset dlg-share-buttoncontainer">
			<button id="dlg-email-share-cancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only lightgray" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
			<button id="dlg-email-share-back" style="display: inline;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only lightgray"><span class="ui-button-text">Back</span></button>
			<button id="dlg-email-share-aol-login" style="display: inline;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only blue"><span class="ui-button-text">Login</span></button>
			<button id="dlg-email-share-share" class="ui-button ui-widget ui-corner-all ui-button-text-only ui-state-focus blue" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Share</span></button>
		</div>
	</div>
</div>


<iframe id="serverResponseIFrame" style="width:0px;height:0px;border:0;display:none;" src="http://prizes.org/contest/img_upload_response" name="serverResponseIFrame"></iframe>
<div id="upload-attach" style="display:none;">
	<div id="insert-img-tabs">
		<ul>
			<li><a href="#insert-img-tabs-1">From computer</a></li>
			<li><a href="#insert-img-tabs-2">From web</a></li>
		</ul>
		<div id="insert-img-tabs-1">
			<div id='user-photo-loader' class='hidden'>
				<span class="preloader-icon">Uploading...</span>
			</div>
			<div id='editor-uploaded-img-pre' class='user-photo-pre'>
				<img id='editor-uploaded-img' class='uploaded-img' placeholder-src="http://01.static.prizes.org/version/20111027193102/ce6/images/preview-placeholder.png" src="http://01.static.prizes.org/version/20111027193102/ce6/images/preview-placeholder.png" onload="javascript:if(typeof(ce6)!='undefined'&&typeof(ce6.editor)!='undefined') ce6.editor.enableInsertBtn(); return false"/>
			</div>
			<div id="uploadForm" class='user-photo-form' >
				<form enctype="multipart/form-data" action="http://upload.prizes.org/r/3/x/save_files2?next=http%3A%2F%2Fprizes.org%2Fcontest%2Fimg_upload_response" accept-charset="utf-8" method="POST" target='serverResponseIFrame'>
					<div class='upload-desc-title'>Upload from your computer</div>
					<div class='upload-desc-limit'>
						You can upload a JPG, GIF, PNG or TIFF file (4MB max)
					</div>
					<div>
						<input size="16" type="file" id="binaryData" name="binary_data" size="20" onchange="return ce6.editor.doUploadImg(this);"/>
					</div>
					<div>
						<span id="upload_msg" class="error-msg"></span>
					</div>
				</form>
			</div>
		</div>
		<div id="insert-img-tabs-2">
			<div id='editor-web-img-pre' class='user-photo-pre'>
				<img id='editor-web-img' class='uploaded-img' placeholder-src="http://01.static.prizes.org/version/20111027193102/ce6/images/preview-placeholder.png" src="http://01.static.prizes.org/version/20111027193102/ce6/images/preview-placeholder.png" onload="javascript:if(typeof(ce6)!='undefined'&&typeof(ce6.editor)!='undefined') ce6.editor.enableInsertBtn(); return false"/>
			</div>
			<div class='user-photo-form' >
				<div class='upload-desc-title'>Use an image from web</div>
				<div>
					<input type="text" id="web-img-url" class="img-url-input"/>
				</div>
				<div>
					<span id="upload_msg" class="error-msg"></span>
				</div>
			</div>
		</div>

	</div>
</div>


<div id="dlg-category" class="category-dlg" style="display:none;">
	<span>Which category does this contest belong to?</span>
	<ul>
		<li class='category-option'><input name="category" type="radio" value="Art, Media &amp; Design" id="cat-0"/><label for="cat-0">Art, Media &amp; Design</label></li>
		<li class='category-option'><input name="category" type="radio" value="Names &amp; Slogans" id="cat-1"/><label for="cat-1">Names &amp; Slogans</label></li>
		<li class='category-option'><input name="category" type="radio" value="Writing &amp; Editing" id="cat-2"/><label for="cat-2">Writing &amp; Editing</label></li>
		<li class='category-option'><input name="category" type="radio" value="Parenting" id="cat-3"/><label for="cat-3">Parenting</label></li>
		<li class='category-option'><input name="category" type="radio" value="Health &amp; Fitness" id="cat-4"/><label for="cat-4">Health &amp; Fitness</label></li>
		<li class='category-option'><input name="category" type="radio" value="Business Ideas" id="cat-5"/><label for="cat-5">Business Ideas</label></li>
		<li class='category-option'><input name="category" type="radio" value="Travel" id="cat-6"/><label for="cat-6">Travel</label></li>
		<li class='category-option'><input name="category" type="radio" value="General Knowledge" id="cat-7"/><label for="cat-7">General Knowledge</label></li>
		<li class='category-option'><input name="category" type="radio" value="Promotions &amp; Offers" id="cat-8"/><label for="cat-8">Promotions &amp; Offers</label></li>
		<li class='category-option'><input name="category" type="radio" value="Programming" id="cat-9"/><label for="cat-9">Programming</label></li>
		<li class='category-option'><input name="category" type="radio" value="Religion &amp; Philosophy" id="cat-10"/><label for="cat-10">Religion &amp; Philosophy</label></li>
		<li class='category-option'><input name="category" type="radio" value="Sports" id="cat-11"/><label for="cat-11">Sports</label></li>
		<li id='other-category'> 
			<input name="category" type="radio" value="" id="cat-others"/>
			<label for="cat-others">Others</label>
			<select id='other-category-list' disabled>
				<option value='' selected>loading...</option>
			</select>
		</li>
	</ul>
	<input style='display:none' placeholder="New category name" id="suggest-category-input" type="text"/>
</div>

<div id="dlg-eliminate" class="eliminate-dlg dlg-plain-content" style="display:none;">
	<span>Are you sure you want to <strong>eliminate</strong> this entry?</span>
</div>

<div id="dnd-dialog" url="http://upload.prizes.org/r/3/x/xhr_save_files">
	<ul id='dnd-filelist'></ul>
	<div id='dnd-progressbar'></div>
</div>


<div id="verify-box" class="side-verify-items" style="display: none;">
	<div class="verified-divider"></div>
	<div class="verify-item email v">
		<span class="verify-item-icon email v"></span>
		<span class="verify-item-name">email</span>
		<div class="verified-right">verified</div> 
	</div>
	<div class="verified-divider"></div>
	<div class="verify-item photo v">
		<span class="verify-item-icon photo v"></span>
		<span class="verify-item-name">photo</span>
		<div class="verified-right">verified</div> 
	</div>
	<div class="verified-divider"></div>
	<div class="verify-item phone ">
		<span class="verify-item-icon phone "></span>
		<span class="verify-item-name">phone</span>
		<button id="phone-verify-btn">Verify Phone</button>
	</div>
</div>

<div id="verify-phone-dlg"  class="dlg-plain-content" style="display:none;">
	<div class="verify-dlg-desc">
		Please enter your mobile number including country code. For example, <br/>+1 555-555-5555 where +1 is the country code for the United States.
	</div>
	<table><tbody>
		<tr>
			<th class="label">Country Code</th>
			<td>
				<input type="text" id="verify-country-code"></input>
			</td>
		</tr>
		<tr>
			<th class="label">Phone Number</th>
			<td>
				<input type="text" id="verify-phone-number"></input>
			</td>
		</tr>
		<tr>
			<th class="label"></th>
			<td>
				<div id="send-sms">
					<button class="blue" id="send-sms-btn">Enter</button>
					<button class="lightgray" id="send-sms-cancel">Cancel</button>
				</div>
				<div id="send-voice" class="verify-dlg-desc" style="display: none;">
					The verification code has been sent to you via SMS.  You should receive this SMS within 30 seconds.  If you have not received it within this time, then there is a chance that our SMS partner does not work with your carrier in your country.  But don't worry!  You can have the verification code sent to you via a phone call.  <a id="send-voice-btn">Please click here!</a>  Do be sure you have good mobile reception so you don't miss the call!
				</div>
				<div id="email-help" class="verify-dlg-desc" style="display: none;">
					Still no luck? Please contact us at <a href="mailto:help@prizes.org">help@prizes.org</a>.
				</div>
				<div id="resend-sms" class="verify-dlg-desc" style="display: none;">
					<p> We're sending the code to your mobile. Enter it below to verify your account!</p>
					<p class="verify-desc-bold">Didn't receive it? Resend it in <span class="time-cnt-down">60</span> seconds</p>
				</div>
				<div id="send-voice-tip" class="verify-dlg-desc" style="display: none;">
					We're trying to call your mobile and it may take a while. Please wait for <span class="time-cnt-down">60</span> seconds.
				</div>
			</td>
		</tr>
		<tr id="verify-phone-code-row">
			<th class="label">Verification code</th>
			<td>
				<input type="text" id="verify-phone-code"></input>
			</td>
		</tr>
	</tbody></table>
</div>

<div id="upload-avatar" class="dlg-plain-content" style="display:none;">
	<div id='user-photo-loader' class='hidden'>
		<span class="preloader-icon">Uploading...</span>
	</div>
	<div class='user-photo-pre'>
		<img id='uploaded-photo'/>
	</div>
	<div id="uploadForm" class='user-photo-form' >
		<form enctype="multipart/form-data" action="http://upload.prizes.org/r/3/x/size_limited_save_files?next=http%3A%2F%2Fprizes.org%2Fprofile%2Fphoto_upload_response" accept-charset="utf-8" method="POST" target='serverResponseIFrame'>
			<div class='upload-desc-title'>Upload new photo</div>
			<div class='upload-desc-limit'>
				You can upload a JPG, GIF, PNG or TIFF file (4MB max)
			</div>
			<div>
				<input size="16" type="file" id="binaryData" name="binary_data" size="20" onchange="return ce6.userPhoto.doUpload(this);"/>
			</div>
			<div>
				<span id="upload_msg" class="error-msg"></span>
			</div>
		</form>
	</div>
</div>

<iframe id="serverResponseIFrame" style="width:0px;height:0px;border:0;display:none;" name="serverResponseIFrame"></iframe>
<div id="verify-email-dlg" style="display:none;">
	Enter email verification code: <input type="text" id="verify-email-code"></input>
</div>



</div>