<div class="profile-3column-left">
  <div class="profile-leftbar-box">
    <div class='user-display-pic-outer'>
      <img target-width='156' id='user-mugshot' class="user-display-pic" src="/assets/profile.jpg" onload="javascript:centralizeLargePic(this);" />
    </div>
    <div class="profile-image-tab">
      <a href="#" id='user-photo-edit' class="edit-tab">edit</a>&sdot;
      <a href="#" id='user-photo-del' class="delete-tab">delete</a>
    </div>
    <div class="profile-relation-button clearfix">
    </div>
    <div id="profile-tab-container">
      <a id='profile-widget-tab' class='feed-tab-selected'>
        <span class="ui-icons ui-icons-position profile-contest-holder-icon"></span>
        <span class="profile-contest-holder-text">About Me</span>
        <div class='feed-tab-arrow' style="display:block;"></div>
      </a>
      <a id='profile-connect-tab' class='feed-tab'>
        <span class="ui-icons ui-icons-position profile-connection-icon"></span>
        <span class="profile-contest-holder-text">Follows</span>
        <div class='feed-tab-arrow'></div>
      </a>
    </div>
  </div>
   <div class="clearfix"></div>
</div>

<div class="profile-3column-middle">
  <div class="clearfix profile-username-container">
    <div id="profile-user-detail-username">
      <a class="profile-username" href="/users/<%= @user.id %>"><%= @user.username %></a>
      <span class="verified"></span>
      <a class="edit-tab" id='user-name-edit'>edit</a>
    </div>
    <div id="profile-user-detail-username-edit" class="profile-edit-bar profile-user-detail-input-area" style="display:none">
      <input type="text" class="profile-name-box"></input>
      <div class="gray float-left" id="profile-username-count">40</div>
      <button id="profile-username-btn" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" style="display: inline; "><span class="ui-button-text">Save</span></button>
      <button type="button" class="cancel-tab ui-button ui-widget ui-corner-all ui-button-text-only lightgray button-radius" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
    </div>
    <div id="profile-view-mode">
      <a class="profile-pseudo-button lightgray" href="http://prizes.org/Feipinghuang-3?public=1">View as Public</a>
    </div>
  </div>
  <div id="profile-userinfo" class="profile-userinfo-box">
    <div class="nav-arrow-container">
        <div class="nav-arrow-border"></div>
        <div class="nav-arrow"></div>
    </div>
     <div id="profile-user-detail">
       <div id="profile-user-detail-introduction-edit" class="profile-edit-bar profile-user-detail-input-area" style="display:none">
         <textarea maxlength="550" class="profile-textarea-box selector-introduction" placeholder="Share something about yourself"></textarea>
          <div class="gray float-left" id="profile-introduction-count">500</div>
          <button id="profile-introduction-btn" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" style="display: inline; "><span class="ui-button-text">Save</span></button>
          <button type="button" class="cancel-tab ui-button ui-widget ui-corner-all ui-button-text-only lightgray button-radius" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
       </div>
       <div id="profile-user-detail-introduction">
            <span class="profile-introduction"><%= @profile.introduction %></span>
        <a class="edit-tab" id="user-introduction-edit">edit</a>
       </div>
       <div class="profile-entry-line">
          <div class="profile-entry-title gray">Area of Expertise</div>
          <div class="profile-entry-value">
           <div id="profile-user-detail-categories">
            <span class="profile-categories"></span>
            <a class="edit-tab" id='user-categories-edit'>edit</a>
          </div>
           <div id="profile-user-detail-categories-edit" class="profile-edit-bar profile-user-detail-input-area" style="display:none" placeholder="Add Your Expertise">
             <div id="profile-categories-container" title="Your Expertise"></div>
             <button id="profile-categories-btn" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" style="display: inline; "><span class="ui-button-text">Save</span></button>
             <button type="button" class="cancel-tab ui-button ui-widget ui-corner-all ui-button-text-only lightgray button-radius" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
           </div>
         </div>
        </div>
       <div class="profile-entry-line">
         <div class="profile-entry-title gray">Occupation</div>
         <div class="profile-entry-value">
           <div id="profile-user-detail-description">
             <span class="profile-description"><%= @profile.description %></span>
             <a class="edit-tab" id='user-desc-edit'>edit</a>
           </div>
           <div id="profile-user-detail-description-edit" class="profile-edit-bar profile-user-detail-input-area" style="display:none">
            <input maxlength="50" class="profile-text-box selector-desc" placeholder="Add Your Headline (ex: Web Designer, Programmer, Student...)"></input>
            <div class="gray float-left" id="profile-description-count">25</div>
            <button id="profile-description-btn" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" style="display: inline; "><span class="ui-button-text">Save</span></button>
            <button type="button" class="cancel-tab ui-button ui-widget ui-corner-all ui-button-text-only lightgray button-radius" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
          </div>
         </div>
       </div>    
       <div class="profile-entry-line">
         <div class="profile-entry-title gray">Location</div>
         <div class="profile-entry-value">
           <div id="profile-user-detail-location">
             <span class="profile-location"><%= @profile.location %></span>
             <a class="edit-tab" id='user-location-edit'>edit</a>
           </div>
           <div id="profile-user-detail-location-edit" class="profile-edit-bar profile-user-detail-input-area" style="display:none">
             <input maxlength="30" class="profile-text-box selector-location" placeholder="Add Your Location (ex: Los Angeles, New York...)"></input>
             <div class="gray float-left" id="profile-location-count">25</div>
             <button id="profile-location-btn" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" style="display: inline; "><span class="ui-button-text">Save</span></button>
             <button type="button" class="cancel-tab ui-button ui-widget ui-corner-all ui-button-text-only lightgray button-radius" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
           </div>
         </div>
       </div>
       <div class="profile-entry-line">
         <div class="profile-entry-title gray">Website</div>
         <div class="profile-entry-value">
           <div id="profile-user-detail-website">
             <span class="profile-website"><%= @profile.website %></span>
             <a class="edit-tab" id="user-website-edit">edit</a>
           </div>
           <div id="profile-user-detail-website-edit" class="profile-edit-bar profile-user-detail-input-area" style="display:none">
             <input class="profile-textarea-box selector-website" placeholder="Add your website to let others know you"></input>
             <button id="profile-website-btn" type="button" class="ui-button ui-widget ui-corner-all ui-button-text-only blue ui-state-focus" style="display: inline; "><span class="ui-button-text">Save</span></button>
             <button type="button" class="cancel-tab ui-button ui-widget ui-corner-all ui-button-text-only lightgray button-radius" role="button" aria-disabled="false" style="display: inline;"><span class="ui-button-text">Cancel</span></button>
           </div>
         </div>
       </div>
       <div class="profile-entry-line">
           <div class="profile-entry-title gray">Member Since</div>
           <div class="profile-entry-value">
               <%= @user.created_at %>
           </div>
       </div>   
     </div>
  </div>
  <div id="profile-widget-container" uid="<%= @user.id %>" style="display:block;">
    <div id="profile-feed-block-215" widget_type="332" widget_key="215" class="profile-widget-visible">

    </div>

    <div id="profile-feed-block-portfolio" widget_type="333" widget_key="portfolio" class="profile-widget-visible">
      <div class="profile-widget-title clearfix">
        <div class="profile-widget-title-icon">
          <span class="ui-icons ui-icons-position" id="portfolio-icon"></span>
          <span class="ui-icons-title"><%= @user.username%>'s Work</span>
        </div>
        <div class="profile-widget-action-container" widget_type="333" widget_key="portfolio">
          <span class="profile-widget-action active">
            <span class="down-arrow profile-widget-action-icon" tip-text="Move Down"></span>
          </span>
          <span class="profile-widget-action active">
            <span class="up-arrow profile-widget-action-icon" tip-text="Move Up"></span>
          </span>
          <span class="profile-widget-action active">
            <span class="visible-icon profile-widget-action-icon" tip-text="Hide this block"></span>
          </span>
        </div>

      </div>

      <div class="profile-userinfo-box">
        <div id="profile-portfolio-preview" placeholder="1">
          <p class="profile-fallback-title">Create your <b>Portfolio</b></p>
          <p class="profile-fallback-desc">Show off your skills in this space. Let the world know what you're good at.</p>
          <hr/><br/>
          <p><img src="http://01.static.prizes.org/version/20111026001640/ce6/images/sample-portfolio.jpg" alt="portfolio image" /></p>
        </div>
        <div class="profile-center-button">
          <button id="profile-enter-portfolio" class="blue-small">Edit</button>
        </div>
      </div>


    </div>

    <div id="profile-feed-block-202" widget_type="332" widget_key="202" class="profile-widget-visible">
      <div class="profile-widget-title clearfix">
        <div class="profile-widget-title-icon">
          <span class="ui-icons ui-icons-position" id="submission-icon"></span>
          <span class="ui-icons-title">Submissions</span>
        </div>
        <div class="profile-widget-action-container" widget_type="332" widget_key="202">
          <span class="profile-widget-action active">
            <span class="down-arrow profile-widget-action-icon" tip-text="Move Down"></span>
          </span>
          <span class="profile-widget-action active">
            <span class="up-arrow profile-widget-action-icon" tip-text="Move Up"></span>
          </span>
          <span class="profile-widget-action active">
            <span class="visible-icon profile-widget-action-icon" tip-text="Hide this block"></span>
          </span>
        </div>

      </div>

      <div class="profile-userinfo-box">
        <div id="profile-portfolio-preview">
          <p class="profile-fallback-title">Enter contests to win <b>real cash</b>!</p>
          <p class="profile-fallback-desc">You have not entered any contests. Check out the latest contests below to win money and get recognized!</p>
          <hr/>
        </div>
        <div id="fallback-contests-container">
          <div class="loader-container">
            <span class="preloader-icon">Loading...</span>
          </div>
        </div>
      </div>


    </div>

    <div id="profile-feed-block-201" widget_type="332" widget_key="201" class="profile-widget-visible">
      <div class="profile-widget-title clearfix">
        <div class="profile-widget-title-icon">
          <span class="ui-icons ui-icons-position" id="create-contest-icon"></span>
          <span class="ui-icons-title">Contests Created</span>
        </div>
        <div class="profile-widget-action-container" widget_type="332" widget_key="201">
          <span class="profile-widget-action active">
            <span class="down-arrow profile-widget-action-icon" tip-text="Move Down"></span>
          </span>
          <span class="profile-widget-action active">
            <span class="up-arrow profile-widget-action-icon" tip-text="Move Up"></span>
          </span>
          <span class="profile-widget-action active">
            <span class="visible-icon profile-widget-action-icon" tip-text="Hide this block"></span>
          </span>
        </div>

      </div>

      <div class="profile-userinfo-box">
        <div id="profile-portfolio-preview">
          <p class="profile-fallback-title">Create contests for <b>anything</b>!</p>
          <p class="profile-fallback-desc">You have not created any contests. Create one now for anything you want - Design, Names or Others!</p>
          <hr/><br/>
          <div id="profile-category-icons">
            <div class="profile-contest-category">
              <a href="/create" logdata="button_type=-1119941483697217498&event_type=button_clicked">
                <p><span class="category-icons category-icons-position category-design-icon"></span></p>
                <p>Art, Media &amp; Design</p>
              </a>
            </div>
            <div class="profile-contest-category">
              <a href="/create" logdata="button_type=-1119941483697217498&event_type=button_clicked">
                <p><span class="category-icons category-icons-position category-naming-icon"></span></p>
                <p>Names &amp; Slogan</p>
              </a>
            </div>
            <div class="profile-contest-category">
              <a href="/create" logdata="button_type=-1119941483697217498&event_type=button_clicked">
                <p><span class="category-icons category-icons-position category-other-icon"></span></p>
                <p>Others</p>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div id="profile-feed-block-214" widget_type="332" widget_key="214" class="profile-widget-visible">

    </div>


  </div>
  <div id="profile-connect-container" uid="<%= @user.id %>" style="display:none;">
    <div id="profile-connect-block-1102">
      <div class="profile-widget-title">
        <span class="ui-icons ui-icons-position" id="follows-icon"></span>
        <span class="ui-icons-title"><%= @user.username%>'s Followers</span>
      </div>
      <div class="profile-feed-container" type="9mvlPYrU8ZvBZTSODCSWrQ">
        <p class="profile-noconnection-text gray">Has no followers yet.</p>
        <div id="user-connect-container-1102" uid="<%= @user.id %>"></div>
      </div>
    </div>

    <div id="profile-connect-block-1101">
      <div class="profile-widget-title">
        <span class="ui-icons ui-icons-position" id="followings-icon"></span>
        <span class="ui-icons-title">feipinghuang is Following</span>
      </div>
      <div class="profile-feed-container" type="IGJ8NWW2dL8guWnBUY1xxw">
        <div class="left-preloader-bar">
          <span class="preloader-icon">Loading...</span>
        </div>
        <div id="user-connect-container-1101" uid="<%= @user.id %>"></div>
      </div>
    </div>

    <div id="profile-connect-block-1103">
      <div class="profile-widget-title">
        <span class="ui-icons ui-icons-position" id="following-contests-icon"></span>
        <span class="ui-icons-title">feipinghuang is Following</span>
      </div>
      <div class="profile-feed-container" type="sQQ--3DnzwPCsKhheIB6IQ">
        <div class="left-preloader-bar">
          <span class="preloader-icon">Loading...</span>
        </div>
        <div id="user-connect-container-1103" uid="<%= @user.id %>"></div>
      </div>
    </div>

  </div>
</div>

<div class="profile-3column-right">
  <div id="profile-widget-stats-container" style="display:block;">
    <div class="profile-widget-title">
      <span class="ui-icons ui-icons-position" id="contest-status-icon"></span>
      <span class="ui-icons-title">feipinghuang's Stats</span>
    </div>
    <div class="side-feed">
      <div class="side-feed-row">
        <div  anchor="profile-feed-block-202">
          <p class="profile-score-title">TALENT SCORE</p><span class="ui-icons ui-icons-position sel-talent-score" id="question-mark-icon"></span>
          <div class="profile-score-value clearfix">
            <span>N/A</span>
          </div>
        </div>
      </div>
      <div class="side-feed-row top-divider-line">
        <div  anchor="profile-feed-block-215">
          <p class="profile-score-title">WINNING ENTRIES</p>
          <div class="profile-score-value clearfix">
            <span>N/A</span>
          </div>
        </div>
      </div>
      <div class="side-feed-row top-divider-line">
        <div  anchor="profile-feed-block-214">
          <p class="profile-score-title">HONORABLE MENTIONS</p>
          <div class="profile-score-value clearfix">
            <span>N/A</span>
          </div>
        </div>
      </div>
      <div class="side-feed-row top-divider-line">
        <div  anchor="profile-feed-block-201">
          <p class="profile-score-title">CONTESTS CREATED</p>
          <div class="profile-score-value clearfix">
            <span>N/A</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="profile-connect-stats-container" style="display:none;">
    <div class="profile-widget-title">
      <span class="ui-icons ui-icons-position" id="contest-status-icon"></span>
      <span class="ui-icons-title">feipinghuang's Stats</span>
    </div>
    <div class="side-feed">
      <div class="side-feed-row">
        <a rel="widget-hyperlink" anchor="profile-connect-block-1102">
          <p class="profile-score-title">FOLLOWERS</p>
          <p class="profile-score-value">0</p>
        </a>
      </div>
      <div class="side-feed-row top-divider-line">
        <a rel="widget-hyperlink" anchor="profile-connect-block-1101">
          <p class="profile-score-title">FOLLOWINGS</p>
          <p class="profile-score-value">5</p>
        </a>
      </div>
      <div class="side-feed-row top-divider-line non-bottom-line"> 
        <a rel="widget-hyperlink" anchor="profile-connect-block-1103">
          <p class="profile-score-title">FOLLOWING CONTESTS</p>
          <p class="profile-score-value">4</p>
        </a>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
	var surface = 'user.profile'; 
	var centralizeLargePic = function(obj){	
		if ($(obj).attr('target-width')){		
	  	offsetX = (parseInt($(obj).attr('target-width'), 10) - $(obj).width()) / 2;	
	  	$(obj).css('left', offsetX + 'px');		
	  }else if ($(obj).attr('target-height')){	
	  	offsetY = (parseInt($(obj).attr('target-height'), 10) - $(obj).height()) / 2;	
			$(obj).css('top', offsetY + 'px');		
		}
	};
	var profileOwner = {
		name : "<%= @user.username %>",
		is_myself : "<%= @is_myself %>",
		is_public: 0,
		picture : "<%= @user.picture %>",
		defaultPicture : "http://03.static.prizes.org/version/20111026045751/ce6/images/default-profile-photo.png",
		token : "<%= @user.id %>",
		description: "<%= @profile.description %>",
		location: "<%= @profile.location %>",
		introduction: "<%= @profile.introduction %>",
		website: "hello.me",
		contest_created_count: 0,
		entry_created_count: 0,
	}
	ce6.profile = ce6.profile || {};
	ce6.profile.feeds = {"feeds": [{"has_more": false, "item_type": 201, "feeds": [], "empty_message": "You haven&#39;t created any contests.&lt;br&gt;&lt;a href=&quot;/create&quot;&gt;Create a contest now!&lt;/a&gt;"}, {"has_more": false, "item_type": 202, "feeds": [], "empty_message": "You haven&#39;t entered any contests.&lt;br&gt;&lt;a href=&quot;/home&quot;&gt;Check out live contests now!&lt;/a&gt;"}, {"has_more": false, "item_type": 215, "feeds": [], "empty_message": ""}, {"has_more": false, "item_type": 214, "feeds": [], "empty_message": ""}], "rc": 0};

</script> 

