<!DOCTYPE html>
<html>
<head>
  <title>Toystory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="page">
			<div id="top">
				<div id="header">
					<div id="header-bg"></div>
					<div id="header-shadow"></div>
					<div id="header-content">
						<div class="header-left">
							<div id="top-nav">
								<ul>
									<li class="active">
										<a id="nav-home" href="">首页</a>
									</li>
									<li>
										<a id="nav-profile" href="/users/<%= current_user.id %>">个人主页</a>
									</li>
									<li>
										<a id="nav-create-contest" href="/contests/new">创建竞赛</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="header-right">
							
						</div>
					</div>
				</div>
			</div>
			<div id="top_sub"></div>
			<div id="page-layout">
				<div id="page-container" class="clearfix">
          			<%= yield %>
        		</div>
			</div>
		</div>
	
		<div class="page-footer">
		<div class="horizontal-divider page-footer-line">
			<div class="page-footer-icon"></div>
		</div>
		<div class="page-footer-links"> 
			<a href="http://blog.prizes.org/">Blog</a> &nbsp;
			<a href="/tos">Terms Of Service</a> &nbsp;
			<a href="/privacy">Privacy Policy</a> &nbsp;
			<a href="/faq">FAQ</a> &nbsp;
			<a href="/faq#contact">Contact Us</a>
		</div>
	</div>
	</div>
	<div style="position: fixed; top: 0px; z-index: 1010;">
		<div id="dlg-send-message" style="display:none;">
			<div id='message-recipient' class="ui-dialog-box">
				<span>To:</span>
			</div>
			<div id='message-body' class="ui-dialog-box">
				<span>Message:</span>
				<textarea></textarea>
			</div>
			<div id='send-message-countdown'></div>
		</div>
	</div>

	<div id='dlg-ofac' style="display:none;" class="dlg-plain-content">
		<div class='ofac-notice'>
			For payment transactions, we're required by law to collect this information from you once.
		</div>
		<div class='ofac-row'>
			<div class='ofac-field' >
				<span>Order Number:</span>
				<span id="order-number"></span>
			</div>
		</div>
		<div class='ofac-row'>
			<div class='ofac-field' id="alipay-form">
			</div>
		</div>
	</div>

	<div id="create-confirm" style="display:none;">
		<div class='contest-detail-container'> 
			<div class="contest-detail clearfix">
				<div class="contest-detail-header clearfix">
					<div class="detail-prize-zone morethan24 radius-border-bottom">
						<div class='detail-prize-title'> PRIZE</div>
						<div class='detail-prize-num'> $<span id='create-prize-credit'></span></div>
					</div>
					<div class="detail-prize-jff-zone morethan24 radius-border-bottom"></div>
					<div class='detail-info-zone'>
						<div class="detail-title">
							<span id="create-confirm-title"></span>
						</div>

						<div class='contest-extend-info'>
							<span class='preview-follow'>Follow Contest</span>
							<div class='left-time-area'>
								<span class='left-time-title'>Time Left :</span>
								<span class='left-time-details'>
									<span id='left-time-num'></span>
								</span>
							</div>

							<div class='share-button-area'>
								<div class="mock-fb-share"></div>
								<div class="mock-twitter-share"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="detail-body detail-bottom-border contest-detail-padding">
					<div id='create-confirm-content' class='contest-detail-content contest-detail-padding detail-top-border word-wrap'> </div>
				</div>

				<div class='contest-bottom-shadow'></div>
			</div>
		</div>
		<div id="createconfirm"> </div>
		<div id="createconfirm-bottom-line">
			Don't worry! Once you've successfully created a contest, we'll keep the prize safe until you've picked a winner!
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
		var IS_SUSPENDED = 0;
		var CONNECT_TYPE = {"FOLLOWING_USER": 1101, "FOLLOWER_USER": 1102, "FOLLOWING_CONTEST": 1103};
	</script>
</body>
</html>
